<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  
  
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>headset</title>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
<a-scene>
  <a-camera>
    <a-cursor geometry="primitive: ring" material="color: #FFC0CB;shader: flat"></a-cursor>
  </a-camera>
  <a-assets>
    <img id="groundTexture" src="https://cdn.aframe.io/a-painter/images/floor.jpg">
  </a-assets>
  <a-asset-item id="fshirt_model" src="{{url_for('static',filename='Shirt.glb')}}">
  </a-asset-item>
  <a-asset-item id="mshirt_model" src="{{url_for('static',filename='Jersey.glb')}}">
  </a-asset-item>
  <a-entity id="vr_view" gltf-model="#fshirt_model" position="1 1.4 -1" ></a-entity>
  <a-entity id="vr_view" gltf-model="#mshirt_model" position="0.3 1.2 -1" ></a-entity>
  <a-sky src="#groundTexture"></a-sky>
  <a-entity
  text="value:Jersey:

  Reebok Activewear combo 
  ( Men and Women )
  
  Sizes : XS S M L XL
  Price : 1899 INR
  
  Soft cotton jersey tee with 2x2 rib 
  at crew neck,chain stitch at dropped 
  front shoulder.
  Embroidered Reebok logo at left chest.
  Regular fit.;font:mozillavr"
  position="-3 1.5 -4"
  scale="3 3 3 ">
  <a-box color="#29b6f6" depth="0" height="1.4" width="1.7"
  position= "-1.1 0 -1" ></a-box></a-entity>

  <a-image src="{{url_for('static',filename='images/btn/btn_cart.png')}}" position="-2.8 0 -3"
  scale="0.7 0.7 0.7" accessories="" >
</a-image></a-entity>
</a-scene>  
<div id="snackbar" style="background-color:  #4caf50;">Item Added To Cart</div>

</body>
</html>